/*============================================================================

                                    CARD/IMG

============================================================================*/

.img1 {
    background: url("../img/alexandr-bormotin-jj3PpeBIlLA-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img2 {
    background: url("../img/brayden-law-Gp5BsUjBP9k-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img3 {
    background: url("../img/christian-perner-fYO1T495QCM-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img4 {
    background: url("../img/christian-wiediger-ZQfh9jKN2x0-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img5 {
    background: url("../img/flipboard-h5H5UyXBLBQ-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img6 {
    background: url("../img/iltun-huseynli-rfklsTwIYBM-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img7 {
    background: url("../img/jimmy-chang-ACt8ycSzpdE-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img8 {
    background: url("../img/kimon-maritz-mQiZnKwGXW0-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img9 {
    background: url("../img/luca-bravo-alS7ewQ41M8-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img10 {
    background: url("../img/pierre-chatel-innocenti-h9ek6QA2jOU-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img11 {
    background: url("../img/pixasquare-4ojhpgKpS68-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img12 {
    background: url("../img/ricardo-gomez-angel-CIxI3XL1Sz4-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img13 {
    background: url("../img/simone-hutsch-8FUD82rlJxs-unsplash.jpg") center no-repeat;
    background-size: cover;
}

.img14 {
    background: url("../img/sunguk-kim-Q5D4oYiZKAE-unsplash.jpg") center no-repeat;
    background-size: cover;
}