<!DOCTYPE html>
<html 
    lang="fr"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www/ultraq.net.nz/thymeleaf/layout"
    layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wusernameth=device-wusernameth, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <title>Utilisateur | Update</title>
</head>
<body>
    <div layout:fragment="page_content">
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    <h3>Profile de <span th:text="${user.username}"></span> : </h3>
                </div>
                <div class="card-body">
                    <form th:action="@{save}" method="post">
                    <table class="table">
                        <tr>
                            <th>                                
                                <label for="nom">Prénom :</label>
                            </th>
                            <th> 
                                <label for="departement">E-mail :</label>
                            </th>
                            <th>
                                <label for="superficie">Téléphone</label></th>
                            <th>
                                <label for="prix">Rôle :</label>
                            </th>
                            <th>Actions</th>
                        </tr>
                        <tr>
                            <input type="hidden" name="username" th:value="${user.username}" id="username" readonly="readonly">
                            
                            <td>
                                <input type="text" name="prenom" id="prenom" th:value="${user.prenom}">
                            </td>
                            <td>
                                <input type="email" name="email" id="email" th:value="${user.email}" >
                            </td>
                            <td>
                                <input type="tel" name="phone" id="phone" th:value="${user.phone}" >
                            </td>
                            <td>
                                <input type="text" name="role" id="role" th:value="${user.role}">
                            </td>
                            <td>
                                <button type="submit">Modifier</button>              
                            </td>
                        </tr>
                    </table>
                    </form>                     
                    
                    <h3>Ajouter une habitation :</h3>                    
                    <form th:action="@{habitation}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="id">Id :</label>
                            <input type="text" name="id" th:value="${habitation.id}" id="id" placeholder="Id">
                        </div>
                        <div class="form-group">
                            <label for="nom">Nom :</label>
                            <input type="text" name="nom" id="nom" th:value="${habitation.nom}" placeholder="Nom">
                        </div>
                        <div class="form-group">
                            <label for="departement">Département :</label>
                            <input type="number" name="departement" id="departement" th:value="${habitation.departement}" placeholder="Département">
                        </div>
                        <div class="form-group">
                            <label for="superficie">Superficie :</label>
                            <input type="number" name="superficie" id="superficie" th:value="${habitation.superficie}" placeholder="Superficie">
                        </div>
                        <div class="form-group">
                            <label for="prix">Prix :</label>
                            <input type="number" name="prix" id="prix" th:value="${habitation.prix}" placeholder="Prix">
                        </div>
                        <div class="form-group">
                            <label for="photo">Photo :</label>
                            <input type="file" name="file" class="form-control-file">
                        </div>
                        
                            <input type="hidden" name="username" th:value="${user.username}" id="username" readonly="readonly">
                            <input type="hidden" name="prenom" id="prenom" th:value="${user.prenom}" readonly="readonly">
                            <input type="hidden" name="email" id="email" th:value="${user.email}" readonly="readonly">
                            <input type="hidden" name="phone" id="phone" th:value="${user.phone}" readonly="readonly">
                            <input type="hidden" name="role" id="role" th:value="${user.role}" readonly="readonly">
                        
                        <input type="submit" value="Ajouter">
                    </form>
                        
                </div>
            </div>
        </div>
    </div>
</body>
</html>