<!DOCTYPE html>
<html 
    lang="fr"
    xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www/ultraq.net.nz/thymeleaf/layout"
    layout:decorate="template"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wusernameth=device-wusernameth, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <title>Users | Liste</title>
</head>
<body>
    <div layout:fragment="page_content">
        <div class="container mt-5">
            <div class="card">
                <div class="card-header">
                    Liste des utilisateurs
                </div>
                
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>Username</th>
                            <th>Prénom</th>
                            <th>E-mail</th>
                            <th>Téléphone</th>
                            <th>Role</th>
                            <th>Actions</th>
                        </tr>
                        <tr th:each="u:${users}">
                            <td th:text="${u.username}"> </td>
                            <td th:text="${u.prenom}"> </td>
                            <td th:text="${u.email}"> </td>
                            <td th:text="${u.phone}"> </td>
                            <td th:text="${u.role}"></td>
                            <td>            
                                <button>
                                    <a th:href="@{users/update/{username}(username=${u.username})}">Modifier</a>
                                </button>         
                                <button>
                                    <a th:href="@{users/delete/{username}(username=${u.username})}">Supprimer</a>
                                </button> 
                            </td>
                        </tr>
                    </table>
                    
                    <h3>Ajouter un utilisateur :</h3>
                    <form th:action="@{users/save}" method="post">
                        <div class="form-group">
                            <label for="username">username :</label>
                            <input type="text" name="username" th:value="${user.username}" username="username" placeholder="username">
                        </div>
                        <div class="form-group">
                            <label for="prenom">Prénom:</label>
                            <input type="text" name="prenom" username="prenom" th:value="${user.prenom}" placeholder="Prénom">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail :</label>
                            <input type="email" name="email" username="email" th:value="${user.email}" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <label for="phone">Téléphone :</label>
                            <input type="tel" name="phone" username="phone" th:value="${user.phone}" placeholder="Téléphone">
                        </div>
                        <div class="form-group">
                            <label for="role">Rôle :</label>
                            <input type="text" name="role" username="role" th:value="${user.role}" placeholder="Rôle">
                        </div>
                        <input type="submit" value="Ajouter">
                    </form>
                        
                </div>
            </div>
        </div>
      </div>
</body>
</html>